{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock title%}</title>
        
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/md_css/code.css">
        <link rel="stylesheet" href="http://at.alicdn.com/t/font_1999815_bepr9umexob.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/gitalk@1.4.0/dist/gitalk.min.css">
    </head>
    <body class="main-center">
        <!-- 导航栏 -->
        {% include 'base/header.html'%}
        <!-- 右侧边栏 -->
        <aside class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
            <div class="slimContent">
                <div class="widget">
                    <h3 class="widget-title">个人链接</h3>
                    <div class="widget-body">
                        <ul class="link-list lh-2x">
                            <li>
                                Github: <a href="https://github.com/cofess" target="_blank">https://github.com/cofess</a>
                            </li>
                            <li>
                                Blog: <a href="http://blog.cofess.com" target="_blank">http://blog.cofess.com</a>
                            </li>
                            <li>
                                微博: <a href="http://weibo.com/cofess" target="_blank">http://weibo.com/cofess</a>
                            </li>
                            <li>
                                花瓣: <a href="http://huaban.com/cofess" target="_blank">http://huaban.com/cofess</a>
                            </li>
                            <li>
                                Behance: <a href="https://www.behance.net/cofess" target="_blank">https://www.behance.net/cofess</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="widget-title">技能</h3>
                    <div class="widget-body">
                        <ul class="skill-list lh-2x">
                            <li class="clearfix">
                                <span>Git</span>
                                <span class="pull-right">★★★☆☆</span>
                            </li>
                            <li class="clearfix">
                                <span>Gulp</span>
                                <span class="pull-right">★★★☆☆</span>
                            </li>
                            <li class="clearfix">
                                <span>Javascript</span>
                                <span class="pull-right">★★★☆☆</span>
                            </li>
                            <li class="clearfix">
                                <span>HTML+CSS</span>
                                <span class="pull-right">★★★☆☆</span>
                            </li>
                            <li class="clearfix">
                                <span>Bootstrap</span>
                                <span class="pull-right">★★★☆☆</span>
                            </li>
                            <li class="clearfix">
                                <span>ThinkPHP</span>
                                <span class="pull-right">★★★☆☆</span>
                            </li>
                            <li class="clearfix">
                                <span>平面设计</span>
                                <span class="pull-right">★★★☆☆</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="widget-title">个人标签</h3>
                    <div class="widget-body">
                        <span class="label label-default mb">前端</span>
                        <span class="label label-default mb">前端开发</span>
                        <span class="label label-default mb">前端重构</span>
                        <span class="label label-default mb">Web前端</span>
                        <span class="label label-default mb">网页重构</span>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="widget-title">个人作品</h3>
                    <div class="widget-body">
                        <ul class="work-list lh-2x">
                            <li class="clearfix">
                                <a href="https://cofess.github.com/mobile-static-site/zc/M/Index/index.html" target="_blank" title="众测天下WebAPP">
                                    <span>众测天下WebAPP</span>
                                    <span class="pull-right text-muted">2016</span>
                                </a>
                            </li>
                            <li class="clearfix">
                                <a href="http://www.samdi.hk" target="_blank" title="SAMDI外贸商城">
                                    <span>SAMDI外贸商城</span>
                                    <span class="pull-right text-muted">2016</span>
                                </a>
                            </li>
                            <li class="clearfix">
                                <a href="http://www.astatoner.com" target="_blank" title="爱斯达官网">
                                    <span>爱斯达官网</span>
                                    <span class="pull-right text-muted">2016</span>
                                </a>
                            </li>
                            <li class="clearfix">
                                <a href="http://www.citymemory.me" target="_blank" title="大运印象饭店&amp;清吧">
                                    <span>大运印象饭店&amp;清吧</span>
                                    <span class="pull-right text-muted">2015</span>
                                </a>
                            </li>
                            <li class="clearfix">
                                <a href="http://www.m-sunda.com" target="_blank" title="迈顺达官网">
                                    <span>迈顺达官网</span>
                                    <span class="pull-right text-muted">2015</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <h3 class="widget-title">个人项目</h3>
                    <div class="widget-body">
                        <ul class="project-list list-square lh-2x">
                            <li class="public source">
                                <a href="https://github.com/cofess/gulp-startpro" target="_blank" title="cofess/gulp-startpro">
                                    <span class="repo-icon octicon octicon-repo"></span>
                                    <span class="repo-and-owner css-truncate-target">cofess/gulp-startpro</span>
                                </a>
                            </li>
                            <li class="public source">
                                <a href="https://github.com/cofess/hexo-theme-pure" target="_blank" title="cofess/hexo-theme-pure">
                                    <span class="repo-icon octicon octicon-repo"></span>
                                    <span class="repo-and-owner css-truncate-target">cofess/hexo-theme-pure</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- 正文页面位置 -->
        {% block content %}
        {% endblock content %}
        <!-- 脚注 -->
        {% include 'base/footer.html' %}
        <script src="//cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="static/js/jquery.min.js"><\/script>')
        </script>
        <script src="/static/js/plugin.min.js"></script>
        <script src="/static/js/application.js"></script>
        <script src="/static/js/insight.js"></script>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    </body>
</html>
