<link rel="stylesheet" href="http://at.alicdn.com/t/font_1999815_bepr9umexob.css">
<header class="header" itemscope itemtype="http://schema.org/WPHeader">
    <div class="slimContent">
        <div class="navbar-header">
            <div class="profile-block text-center">
                <a id="avatar" href="https://github.com/cofess" target="_blank">
                    <img class="img-circle img-rotate" src="/static/images/avatar.jpg" width="200" height="200">
                </a>
                <h2 id="name" class="hidden-xs hidden-sm">Jiaqing Wang</h2>
                <h3 id="title" class="hidden-xs hidden-sm hidden-md">Developer &amp;Designer</h3>
                <small id="location" class="text-muted hidden-xs hidden-sm">
                    <i class="iconfont  icon-map"></i>
                    ChengDu, China
                </small>
            </div>
            <div class="search" id="search-form-wrap">
                <form class="search-form sidebar-form">
                    <div class="input-group">
                        <input type="text" class="search-form-input form-control" placeholder="搜索">
                        <span class="input-group-btn">
                            <button type="submit" class="search-form-submit btn btn-flat" onclick="return!1">
                                <i class="iconfont icon-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="ins-search">
                    <div class="ins-search-mask"></div>
                    <div class="ins-search-container">
                        <div class="ins-input-wrapper">
                            <input type="text" class="ins-search-input" placeholder="想要查找什么..." x-webkit-speech>
                            <button type="button" class="close ins-close ins-selectable" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="ins-section-wrapper">
                            <div class="ins-section-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav id="main-navbar" class="collapse navbar-collapse" itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation">
            <ul class="nav navbar-nav main-nav">
                <li class="menu-item menu-item-home">
                    <a href="{% url 'Blogapp:index' %}">
                        <i class="iconfont icon-zhuye"></i>
                        <span class="menu-title">首页</span>
                    </a>
                </li>
                <li class="menu-item menu-item-archives">
                    <a href="{% url 'Blogapp:article_archives' %}">
                        <i class="iconfont icon-guidang"></i>
                        <span class="menu-title">归档</span>
                    </a>
                </li>
                <li class="menu-item menu-item-categories">
                    <a href="/categories">
                        <i class="iconfont icon-Folderfilesarchive"></i>
                        <span class="menu-title">分类</span>
                    </a>
                </li>
                <li class="menu-item menu-item-tags">
                    <a href="/tags">
                        <i class="iconfont icon-tag"></i>
                        <span class="menu-title">标签</span>
                    </a>
                </li>
                <li class="menu-item menu-item-repository">
                    <a href="/repository">
                        <i class="iconfont icon-xiangmu"></i>
                        <span class="menu-title">项目</span>
                    </a>
                </li>
                <li class="menu-item menu-item-repository">
                    <a href="{% url 'Blogapp:article_create' %}">
                        <i class="iconfont icon-tubiaozhizuomoban-"></i>
                        <span class="menu-title">创作</span>
                    </a>
                </li>
                <li class="menu-item menu-item-about">
                    <a href="/about">
                        <i class="iconfont icon-icon-about-me"></i>
                        <span class="menu-title">关于</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>