{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %} 归档 {% endblock title %}
{% block content %}
<main class="main" role="main">
    <article class="content article article-archives article-type-list" itemscope>
        <header class="article-header">
            <h1 itemprop="title">归档</h1>
            <p class="text-muted">共 {{ articles | length }} 篇文章</p>
        </header>
        <div class="article-body">
            {% regroup articles by created.year as dates_by_year %}
            {% for year in dates_by_year %}
            <section class="panel panel-default b-no">
                <div class="panel-heading" role="tab">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2018" aria-expanded="true">
                            <i class="iconfont icon-rili"></i>
                            {{ year.grouper }}
                        </a>
                    </h3>
                </div>
                <div id="collapse2018" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2018">
                    <div class="panel-body">
                        <div class="collection">
                            {% for article in year.list%}
                            <a href="/2018/03/28/那些有趣的注释，有没有你曾用过的.html" class="collection-item" target="_blank" itemprop="url">
                                <time datetime="2018-03-28T12:45:41.000Z" itemprop="datePublished">{{ article.created|date:'Y-m-d' }}</time>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                {{ article.title }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    </article>
</main>
{% endblock content %}
